@font-face {
  font-family: karla-bold;
  src: url("/fonts/Karla-Bold.ttf");
}

@font-face {
  font-family: karla-bold-italic;
  src: url("/fonts/Karla-BoldIItalic.ttf");
}

@font-face {
  font-family: karla-italic;
  src: url("/fonts/Karla-Italic.ttf");
}

@font-face {
  font-family: karla-regular;
  src: url("/fonts/Karla-Regular.ttf");
}
