@font-face {
  font-family: karla-bold;
  src: url("/fonts/Karla-Bold.ttf");
}

@font-face {
  font-family: karla-bold-italic;
  src: url("/fonts/Karla-BoldIItalic.ttf");
}

@font-face {
  font-family: karla-italic;
  src: url("/fonts/Karla-Italic.ttf");
}

@font-face {
  font-family: karla-regular;
  src: url("/fonts/Karla-Regular.ttf");
}

@font-face {
  font-family: sabon;
  src: url("/fonts/SabonLTStd-Roman.otf");
}

// @import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i&display=swap");

@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,700,700i&display=swap");
