@import "./variables.scss";

// .home-box {
//   background-color: $secondary;
//   padding-top: 60px;
//   @include lg {
//     padding-top: 100px;
//   }
// }

// .home-image-box {
//   display: flex;
//   flex-direction: column;
//   position: relative;
// }

// .home-header-text {
//   font-family: $fontSecondary;
//   font-weight: 100;
//   position: relative;
//   padding-left: 20px;

//   @include md {
//     left: 80px;
//     position: absolute;
//     top: 20px;
//   }

//   @include lg {
//     left: 150px;
//     top: 100px;
//   }
// }

.home-tagline {
  color: $primary;
  font-size: $text-xl;
  font-weight: 100;
  @include md {
    font-size: $text-xxxxl;
  }
}

.home-tagline_sub {
  color: $primary;
  font-size: $text-md;
  font-weight: 100;
  @include md {
    font-size: $text-xl;
    width: 300px;
  }
}

.home-tagline_sub_italic {
  color: $primary;
  font-style: italic;
  font-size: $text-md;
  margin-bottom: 40px;
  @include md {
    font-size: $text-xl;
    width: 350px;
  }
}

.home-full-width-img {
  width: 100%;
  padding: 0;
  margin: 0;
}

.home-text-container {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  @include md {
    padding-top: 50px;
    position: absolute;
  }
  @include lg {
    padding-top: 200px;
  }
  @include xxl {
    padding-top: 300px;
  }
}

.home-text-button {
  color: $primary;
  font-size: $text-xl;
  @include md {
    font-size: $text-xxxxl;
  }
}
