/* general */
@import "./variables.scss";

body {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: $primaryBold;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
}

.button-big {
  background-color: transparent;
  border: 2px solid $primary;
  font-family: karla-bold;
  font-size: 25px;
  padding: 15px 25px;
}

.button-big a {
  color: $primary;
}

.footer {
  background-color: black;
  height: 130px;
  margin-top: -10px;
  padding-top: 30px;
  width: 100%;
}

.components {
  position: absolute;
  top: 100px;
  z-index: 1;
  background-color: $primary;
}

.image-container {
  position: relative;
}

.full-image {
  width: 100%;
}
