/* general */
@import "./variables.scss";
@import "./mixins.scss";

body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: $primaryBold;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
}

.button-one {
  background-color: transparent;
  border: 1px solid $primary;
  font-family: $primaryBold;
  padding: 15px 25px;
}

.button-two {
  background-color: transparent;
  border: 1px solid $secondary;
  font-family: $primaryBold;
  padding: 15px 25px;
}

.button-one a {
  color: $primary;
}

.button-two a {
  color: $secondary;
}

.bt-large {
  font-size: $text-sm;
  @include md {
    font-size: $text-lg;
  }
}

.bt-small {
  font-size: $text-sm;
  @include md {
    font-size: $text-md;
  }
}

.image-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.full-image {
  width: 100%;
  padding: 0;
  margin: 0;
}

.tagline {
  color: $primary;
  font-size: $text-lg;
  font-weight: 100;
}

.subtagline {
  color: $primary;
  font-size: $text-xxxl;
  font-weight: 100;
}

.content-container {
  margin: auto;
  display: flex;
  width: 80%;
  padding: 100px 0;
}

.content-title {
  color: $secondary;
  font-family: $fontSecondary;
  font-size: $text-lg;
  font-weight: 600;
}

.content-title-eng {
  color: $secondary;
  font-family: $fontSecondary;
  font-size: $text-lg;
  font-style: italic;
  font-weight: 100;
}

.content-text {
  color: $secondary;
  font-family: $fontSecondary;
  font-size: $text-md;
  font-weight: 100;
  letter-spacing: 1px;
}

.content-image {
  margin-bottom: 30px;
  width: 400px;
  height: auto;
}

.content-container-full {
  background-color: $secondary;
  color: $primary;
}

.content-container-left {
  padding-right: 80px;
}

.content-container-right {
  margin-top: 48px;
}

.content-container-black {
  margin: auto;
  width: 80%;
  padding: 100px 0;
}

.content-group-black {
  display: flex;
  padding-bottom: 50px;
}

.content-black {
  margin-bottom: 50px;
  padding-right: 80px;
}

.title-black {
  font-family: $primaryBold;
  font-size: $text-xl;
}

.intro-black {
  font-family: $fontSecondary;
  font-size: $text-lg;
  font-weight: 100;
  letter-spacing: 1px;
}

.intro-black_sub {
  font-family: $fontSecondary;
  font-size: $text-md;
  font-weight: 100;
  letter-spacing: 1px;
  margin-bottom: 60px;
}

.images-black {
  padding-top: 50px;
}

.image-right {
  width: 400px;
  height: auto;
  margin-bottom: 30px;
}

.image-logo {
  width: 200px;
}

.header-text-container {
  width: 600px;
}
