/* general */
@import "./variables.scss";
@import "./mixins.scss";

body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: $primaryBold;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
}

.button-one {
  background-color: transparent;
  border: 1px solid $primary;
  font-family: karla-bold;
  padding: 15px 25px;
}

.button-two {
  background-color: transparent;
  border: 1px solid $secondary;
  font-family: karla-bold;
  padding: 15px 25px;
}

.button-one a {
  color: $primary;
}

.button-two a {
  color: $secondary;
}

.bt-large {
  font-size: 25px;
}

.bt-small {
  font-size: 20px;
}

.footer {
  background-color: black;
  border-top: 1px solid $primary;
  height: 130px;
  margin-top: -10px;
  padding-top: 30px;
  width: 100%;
}

.components {
  position: absolute;
  top: 100px;
  z-index: 1;
  background-color: $primary;
  width: 100%;
}

.image-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.full-image {
  width: 100%;
  padding: 0;
  margin: 0;
}

.tagline {
  color: $primary;
  font-size: 35px;
}

.subtagline {
  color: $primary;
  font-size: 60px;
}

.content-container {
  margin: auto;
  display: flex;
  width: 70%;
  padding: 100px 20px;
}

.content-container-left {
  padding-right: 50px;
}

.content-title {
  color: $secondary;
  font-family: $fontSecondary;
  font-size: 30px;
  font-weight: 600;
}

.content-title-eng {
  color: $secondary;
  font-family: $fontSecondary;
  font-size: 25px;
  font-style: italic;
  font-weight: 100;
}

.content-text {
  color: $secondary;
  font-family: $fontSecondary;
  font-size: 20px;
  font-weight: 100;
}

.content-image {
  margin: 35px 0;
  width: 400px;
}

.content-container-full {
  background-color: $secondary;
  color: $primary;
}

.content-container-black {
  margin: auto;
  width: 70%;
  padding: 100px 0;
}

.content-group-black {
  display: flex;
  padding-bottom: 50px;
}

.content-black {
  margin-bottom: 50px;
  padding-right: 80px;
}

.title-black {
  font-family: $primaryBold;
  font-size: 40px;
}

.intro-black {
  font-family: $fontSecondary;
  font-size: 25px;
  font-weight: 100;
  margin-bottom: 60px;
}

.images-black {
  padding-top: 50px;
}

.image-right {
  width: 400px;
}

.image-logo {
  width: 200px;
}

.header-text-container {
  width: 600px;
}
