@import "./variables.scss";

// Menu

.menu-mobile {
  display: contents;
  @include lg {
    display: none;
  }
}

.menu-desktop {
  display: none;
  @include lg {
    display: contents;
  }
}

.menu-itens {
  color: $secondary;
  display: contents;
  font-family: $primaryRegular;
  font-size: $text-md;
  margin-top: 40px;

  @include lg {
    display: flex;
  }
}

.menu-itens a {
  color: $secondary;
}

.menu-item {
  @include lg {
    margin-right: 40px;
  }
}

.menu-active {
  border-bottom: 1px solid $secondary;
}

// TopNav

.menu-top-nav {
  background-color: $primary;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 2;
  @include lg {
    height: 100px;
  }
}

.menu-logo-aut {
  @include lg {
    margin-right: 30px;
    height: 100px;
  }
}

.menu-logo-asl {
  @include lg {
    margin: 10px 0 0 30px;
    height: 80px;
  }
}
