@import "./variables.scss";

.menu {
  background-color: $primary;
  display: flex;
  align-content: space-around;
  align-items: center;
  font-family: $primaryRegular;
  font-size: 20px;
  height: 100px;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.menu-footer {
  background-color: $secondary;
  display: flex;
  align-content: space-around;
  align-items: center;
  font-family: $primaryRegular;
  font-size: 20px;
  width: 100%;
}

.menu li {
  display: inline-block;
  margin-right: 50px;
}

.menu-footer li {
  display: inline-block;
  margin-right: 50px;
}

.menu a {
  color: $secondary;
}

.menu-footer a {
  color: $primary;
}

.menu-logo-asl {
  height: 90px;
  margin-left: 30px;
  width: 160px;
}

.menu-logo-aut {
  position: fixed;
  height: 100px;
  right: 30px;
  top: 0;
}

.menu-contact-container {
  border-left: 1px solid $primary;
  color: $primary;
  font-family: $primaryRegular;
  margin: 0 0 25px 70px;
  padding-left: 70px;
}

.menu-contact-flex {
  display: flex;
  width: 200px;
}

.menu-contact-title {
  font-size: 20px;
}

.menu-contact-text {
  font-size: 12px;
  align-self: center;
}

.menu-contact-image {
  align-self: center;
  width: 34px;
  height: 34px;
  margin-right: 10px;
}

.menu-contact-none {
  display: none;
}
