/* general */
@import "./variables.scss";

.partners-container {
  background-color: $primary;
  color: $secondary;
  margin-bottom: 200px;
  position: relative;
  width: 100%;
}

.tagline-partners {
  color: $secondary;
  font-size: $text-lg;
  font-weight: 100;
  width: 500px;
  padding: 50px 0 0 100px;
}

.partners-maps-container {
  display: flex;
}

.partners-map-image {
  cursor: pointer;
  width: 100%;
  height: auto;
}

.partners-map-text {
  font-family: $primaryRegular;
  font-size: 15px;
  text-align: center;
}

.partners-map-detail-container {
  position: relative;
}

.partners-map-detail-image {
  width: 1200px;
  height: auto;
}

.partners-europe-detail-image {
  cursor: pointer;
  position: absolute;
  left: 430px;
  top: 1%;
  height: 300px;
  width: auto;
}

.partners-bt-invisible {
  cursor: pointer;
  position: absolute;
  left: 470px;
  top: 30%;
  background-color: transparent;
  height: 100px;
  width: 100px;
}

.partners-back-bt {
  cursor: pointer;
  font-family: $primaryRegular;
  font-size: 15px;
  padding-left: 100px;
}

.partners-bt-invisible-nz {
  cursor: pointer;
  position: absolute;
  left: 980px;
  top: 17%;
  background-color: transparent;
  height: 100px;
  width: 100px;
}

.partners-nz-detail-image {
  cursor: pointer;
  position: absolute;
  left: 800px;
  top: 1%;
  height: 300px;
  width: auto;
}
