/* general */
@import "./variables.scss";

.people-container {
  background-color: $secondary;
  color: $primary;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.person-container {
  margin: 20px;
}

.people-image {
  width: 250px;
}

.people-name {
  font-family: $primaryBold;
  font-size: 15px;
}

.key-people-row-container {
  margin: auto;
  width: 80%;
  display: flex;
}

.key-people-container {
  margin-right: 100px;
}

.key-people-image {
}

.key-people-texts {
  margin: auto;
  width: 50%;
  text-align: center;
}

.key-people-name {
  font-family: $primaryBold;
  font-size: 24px;
}

.key-people-position {
  font-family: $primaryRegular;
  font-size: 18px;
}

.content-group-people {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}
