/* general */
@import "./variables.scss";

.posts {
  margin: auto;
  width: 50%;
  padding: 100px 0;
}

.post {
  margin-bottom: 100px;
}

.post-title {
  font-family: $fontSecondary;
  font-size: 50px;
}
