/* general */
@import "./variables.scss";

.story-intro {
  color: $primary;
  font-family: $fontSecondary;
  font-size: 26px;
  width: 600px;
}

.story-tagline {
  color: $primary;
  font-size: 45px;
}

.story-container {
  margin: auto;
  width: 70%;
  padding: 100px 20px 0 20px;
}

.story-container-flex {
  display: flex;
  margin-bottom: 50px;
}

.story-image-text {
  margin-bottom: 50px;
  width: 400px;
  height: auto;
}

.story-intro-text {
  font-family: $fontSecondary;
  font-size: 22px;
  padding-right: 100px;
}

.story-news-title {
  color: $secondary;
  font-family: $primaryRegular;
  font-size: 28px;
  margin: 80px 0;
}

.story-image-news {
  width: 500px;
}

.story-news-content {
  margin-left: 100px;
}

.story-title-news {
  color: $secondary;
  font-family: $primaryRegular;
  font-size: 28px;
}

.story-text-news {
  margin-bottom: 30px;
  font-family: $fontSecondary;
  font-size: 22px;
}

.story-image-fix {
  margin-bottom: -10px;
}

.story-container-news {
  margin: auto;
  width: 70%;
  padding: 0 20px 100px 20px;
}
