/* general */
@import "./variables.scss";

.story-intro {
  color: $primary;
  font-family: $fontSecondary;
  font-size: $text-lg;
  width: 600px;
}

.story-tagline {
  color: $primary;
  font-size: $text-xxl;
}

.story-container {
  margin: auto;
  width: 80%;
  padding: 100px 20px 0 20px;
}

.story-container-flex {
  display: flex;
  margin-bottom: 50px;
  max-width: 1200px;
}

.story-image-text {
  margin: 20px 0;
  width: 400px;
  height: auto;
}

.story-intro-text {
  font-family: $fontSecondary;
  font-size: $text-md;
  padding-right: 80px;
}

.story-news-title {
  color: $secondary;
  font-family: $primaryRegular;
  font-size: 28px;
  margin: 80px 0;
}

.story-image-news {
  width: 400px;
  height: auto;
}

.story-news-content {
  padding: 0 50px;
}

.story-title-news {
  color: $secondary;
  font-family: $primaryRegular;
  font-size: 28px;
}

.story-text-news {
  margin-bottom: 30px;
  font-family: $fontSecondary;
  font-size: $text-md;
  font-weight: 100;
}

.story-image-fix {
  margin-bottom: -10px;
}

.story-container-news {
  margin-left: 100px;
}
