// Font One

$primaryRegular: karla-regular;
$primaryBold: karla-bold;
$primaryItalic: karla-italic;
$primaryBoldItalic: karla-bold-italic;

// Font Two

$fontSecondary: "Crimson Text", serif;

// Colors

$primary: #ffffff;
$secondary: #000000;
