// Font One

$primaryRegular: karla-regular;
$primaryBold: karla-bold;
$primaryItalic: karla-italic;
$primaryBoldItalic: karla-bold-italic;

// Font Two

// $fontSecondary: "Crimson Text", serif;

$fontSecondary: sabon, serif;

// Colors

$primary: #ffffff;
$secondary: #000000;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// texts size 1200

$text-sm: 12px;
$text-md: 18px;
$text-lg: 25px;
$text-xl: 35px;
$text-xxl: 45px;
$text-xxxl: 55px;
$text-xxxxl: 65px;
